<%- include('../../partials/templateEmails/header.ejs') %>
        
    <div style="text-align: center; margin-bottom: 10px;">
        <a href="https://www.lojasnossolar.com.br/shopdisplayproducts.asp?id=4960" target="_blank">
            <img src="/imgs/templatesEmails/templateEmailAbril.webp" alt="#abrilMaluco" style="max-width: 100%;">
        </a>
    </div>        
  
<%- include('../../partials/templateEmails/footer.ejs') %>

