<%- include('../../partials/templateEmails/templateEmailsCrediario/header.ejs') %>
    
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <h1 style="text-align: left; font-size: 2rem; color: #333;">Prezado(a) {{nomeClient}}</h1>
        <p style="font-size: 1.2rem;">Nas
            <strong style="color:#00A113;font-weight: bolder; font-size: 1.3rem;">
                LOJAS NOSSO LAR
            </strong>, temos uma oferta imperdível para você: 
            <strong style="color:#00A113;font-weight: bolder; font-size: 1.3rem;">
                RECUPERE SEU CREDITO
            </strong> com 
            <strong style="color:#00A113;font-weight: bolder; font-size: 1.3rem;">
                100%
            </strong> de desconto nos  
            <strong style="color:#00A113;font-weight: bolder; font-size: 1.3rem;">
                JUROS
            </strong>, mesmo após
            <strong style="color:#00A113;font-weight: bolder; font-size: 1.3rem;">
               1000 dias.
            </strong> Parcerlamento disponível em até 
            <strong style="color:#00A113;font-weight: bolder; font-size: 1.3rem;">
                12X.
            </strong>  Não deixe essa oportunidade escapar!
             <a href="https://api.whatsapp.com/send/?phone=5563992468221&text=Ol%C3%A1%2Cgostaria+de+meus+d%C3%A9bitos&type=phone_number&app_absent=0" target="_blank"> 
                <img style="width: 20px; height: 20px;" src="/imgs/templatesEmails/templateEmailsCrediario/whatsapp.webp" alt="whatsApp">
                Clique Aqui !
            </a>
        </p>

        <p style="text-align: left; font-size: 1rem; color: #666;">Atenciosamente,<br>
            Equipe Super Lojas Nosso Lar<br>
        </p>

    </div>     

  
<%- include('../../partials/templateEmails/templateEmailsCrediario/footer.ejs') %>

