

    <div class="footer" style="text-align: center; font-size: 0.8rem; color: #666;">
        Siga-nos nas redes sociais<br>
        <a href="https://www.facebook.com/LojasNossoLar" style="color: #007bff; text-decoration: none;">Facebook</a> | 
        <a href="https://www.instagram.com/lojasnossolar/" style="color: #007bff; text-decoration: none;">Instagram</a> | 
        <a href="https://www.youtube.com/@superlojasnossolar3399" style="color: #007bff; text-decoration: none;">Youtube</a>
    </div>

    <p style="text-align: center; font-size: 0.8rem; color: #666;">Atenciosamente,<br>
        Equipe Super Lojas Nosso Lar<br>
        Endereço: Av. Cônego João Lima, 1669 - St. Central, Araguaína - TO, 77804-010<br>
        Telefone: (63) 3415-8400
    </p>

    <p
     style="text-align: center; font-size: 0.8rem; color: #999;">Se você não deseja mais receber nossos e-mails promocionais, por favor <a href="{{cancelURL}}" style="color: #007bff; text-decoration: none;">clique aqui para cancelar a inscrição</a>. 
     <br><br>
     © 2024 - Todos os direitos reservados a Super Lojas Nosso Lar
    </p>
    
   

</div>
</body>
</html>
